button,
h1 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  font-size: 24px;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 1%;
}

header {
  width: 95%;
  text-align: center;
  color: white;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 1%;
  margin: auto;
  position: relative;
}

.logo {
  width: 5%;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  width: 20%;
}

.profile_button {
  border: dashed #F9E4C4;
  padding: 16px;
  background-color: #DDA476;
  border-radius: 16px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.profile_button:hover {
  background-color: #F9E4C4;
  border: dashed #DDA476;
  color: #DDA476;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: #DDA476;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 15px;
  height: 75%;
}

.component-list {
  background-color: #ffffff;
  border-radius: 15px;
  flex: 3;
  display: grid;
  padding: 20px;
}

.component {
  background-color: #cccccc;
  padding: 10px 20px;
  border-radius: 10px;
  height: min-content;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.component button {
  border: 2px solid #D35452;
  padding: 10px 20px;
  background-color: #EE9180;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  color: #D35452;
  font-weight: bold;
  float: right;
  margin-top: 12px;
}

.component button:hover {
  border: 2px solid #EE9180;
  background-color: #D35452;
  color: #EE9180;
}

.component p {
  font-weight: bold;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
}

.liste {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: left;
  margin-left: 6%;
}

.back {
  border: dashed #F9E4C4;
  padding: 16px;
  background-color: #DDA476;
  border-radius: 16px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.back:hover {
  background-color: #F9E4C4;
  border: dashed #DDA476;
  color: #DDA476;
}

.form {
  width: 90%;
  max-width: 600px;
  background: #DDA476;
  border-radius: 30px;
  border: dashed #F9E4C4;
  padding: 15px;
  margin: auto;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button, input.text {
  border: 0;
  outline: 0;
  padding: 16px;
  background-color: white;
  margin-top: 10px;
  font-size: 16px;
}

input.text {
  border-radius: 10px;
  box-shadow: inset 2px 2px 5px white, inset -5px -5px 10px white;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}

input.text:focus {
  box-shadow: inset 1px 1px 2px white, inset -1px -1px 2px white;
}

label.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-login {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 20px 0 10px;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  transition: filter 0.2s;
  user-select: none;
  width: 40%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.button-login:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border-radius: 16px;
  border-width: 0 0 4px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -4px;
  z-index: -1;
}

.button-login:main, .button-login:focus {
  user-select: auto;
}

.button-login:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-login:disabled {
  cursor: auto;
}

.button-login:active {
  border-width: 4px 0 0;
  background: none;
}

.button-update {
  appearance: button;
  background-color: #87af51;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 20px 0 10px;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  transition: filter 0.2s;
  user-select: none;
  width: 40%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.button-update:after {
  background-clip: padding-box;
  background-color: #a6c37f;
  border-radius: 16px;
  border-width: 0 0 4px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -4px;
  z-index: -1;
}

.button-update:main, .button-login:focus {
  user-select: auto;
}

.button-update:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-update:disabled {
  cursor: auto;
}

.button-update:active {
  border-width: 4px 0 0;
  background: none;
}

.button-delete {
  appearance: button;
  background-color: #D35452;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 20px 0 10px;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  transition: filter 0.2s;
  user-select: none;
  width: 40%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.button-delete:after {
  background-clip: padding-box;
  background-color: #EE9180;
  border-radius: 16px;
  border-width: 0 0 4px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -4px;
  z-index: -1;
}

.button-delete:main, .button-login:focus {
  user-select: auto;
}

.button-delete:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-delete:disabled {
  cursor: auto;
}

.button-delete:active {
  border-width: 4px 0 0;
  background: none;
}

.button-deco {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 20px 0 10px;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  transition: filter 0.2s;
  user-select: none;
  width: 40%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
}

.button-deco:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border-radius: 16px;
  border-width: 0 0 4px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -4px;
  z-index: -1;
}

.button-deco:main, .button-login:focus {
  user-select: auto;
}

.button-deco:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-deco:disabled {
  cursor: auto;
}

.button-deco:active {
  border-width: 4px 0 0;
  background: none;
}

/* Responsive styles */
@media (max-width: 768px) {
  .header, .container {
    flex-direction: column;
    align-items: center;
  }

  .title {
    width: 40%;
  }

  .container {
    margin: 2%;
    height: auto;
  }

  .component {
    flex-direction: column;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
  }

  .button-login, .button-update, .button-delete, .button-deco {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .title {
    width: 50%;
  }

  button,
  h1 {
    font-size: 20px;
  }

  .profile_button,
  .back {
    font-size: 13px;
    padding: 12px;
  }

  .button-login, .button-update, .button-delete, .button-deco {
    width: 100%;
  }
}