body,
p,
input,
select,
textarea,
button,
h1 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0099B4;
}

header {
  width: 100%;
  text-align: center;
  color: white;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 1%;
  width: 95%;
  margin: auto;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.component-list,
.profile {
  background-color: #e0e0e0;
  border-radius: 15px;
  padding: 20px;
}

.component-list {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.component {
  background-color: #cccccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.component button {
  border: 0;
  outline: 0;
  padding: 10px 20px;
  background-color: #ffffff;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.profile {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile button {
  border: 0;
  outline: 0;
  padding: 10px 20px;
  background-color: #ffffff;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 0;
}

h1 {
  text-align: center;
  font-size: 24px;
  color: #000;
  font-weight: bold;
}

.title {
  width: 20%;
}

.logo {
  width: 5%;
}

.profile_button {
  border: dashed #F9E4C4;
  padding: 16px;
  appearance: button;
  background-color: #DDA476;
  border-radius: 16px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.profile_button:hover {
  background-color: #F9E4C4;
  border: dashed #DDA476;
  color: #DDA476;
  border-radius: 16px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -4px;
  z-index: -1;
}